<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<title>Inicio</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<header th:replace="layout/navbar :: header"></header>

	<div class="container">

		<div class="row">
			<h3 class="col s8">Contactos</h3>
			<a style="margin-top: -50px;;" class="waves-effect waves-light btn blue col s4 offset-s8" href="/nuevo">
				<i class="material-icons left">add</i>Registrar Contacto
			</a>
		</div>

		<ul class="collection">
			<div th:each="contacto : ${contactos}" th:object="${contacto}">
				<li class="collection-item avatar">
					<img src="img/contactos.png" alt="" class="circle">
					<span class="title" th:text="*{nombre}"></span>
					<p th:text="*{telefono}"></p>
					<div class="secondary-content">
						<a th:href="@{/{id}/editar(id=*{id})}"><i class="material-icons">edit</i></a>
						<a onclick="eliminarContacto(this)"><i class="material-icons red-text">remove_circle</i></a>
						<form th:action="@{/{id}/eliminar(id=*{id})}" method="POST"></form>
					</div>
				</li>
			</div>
		</ul>

		<ul class="pagination center">
			<li class="waves-effect" th:class="${page.first ? 'waves-effect disabled' : 'waves-effect active blue'}">
				<span th:if="${page.first}">Primera</span>
				<a class="waves-effect" th:if="${not page.first}" th:href="@{${page.url}(page=0)}">Primera</a>
			</li>

			<li class="waves-effect disabled"
				th:class="${not page.hasPrevious ? 'waves-effect disabled' : 'waves-effect'}">
				<a th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual - 2})}">
					<i class="material-icons">chevron_left</i>
				</a>
			</li>

			<li th:class="${item.actual ? 'active blue' : 'waves-effect'}" th:each="item : ${page.paginas}">
				<a th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero - 1})}"
					th:text="${item.numero}"></a>
				<a th:if="${item.actual}" th:href="@{${page.url}(page=${item.numero - 1})}"
					th:text="${item.numero}"></a>
			</li>

			<li class="waves-effect" th:class="${not page.hasNext ? 'waves-effect disabled' : 'waves-effect'}">
				<a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">
					<i class="material-icons">chevron_right</i>
				</a>
			</li>

			<li class="waves-effect" th:class="${page.last ? 'waves-effect disabled' : 'waves-effect active blue'}">
				<span class="waves-effect" th:if="${page.last}">&Uacute;ltima</span>
				<a class="waves-effect" th:if="${not page.last}"
					th:href="@{${page.url}(page=${page.totalPaginas - 1})}">&Uacute;ltima</a>
			</li>
		</ul>

	</div>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		function eliminarContacto(elemento) {
			Swal.fire({
				title: '¿Estas seguro de eliminar el contacto?',
				text: "No podrás revertir esta acción!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Si, eliminalo!'
			}).then((result) => {
				if (result.isConfirmed) {
					Swal.fire(
						'Eliminado!',
						'Tu contacto ha sido eliminado.',
						'success'
					).then((result) => {
						elemento.nextElementSibling.submit();
					})
				}
			})
		}
	</script>
</body>

<footer class="page-footer indigo accent-2">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Agendex</h5>
				<p class="grey-text text-lighten-4">Agendex es un sitio encargado de brindar una interface sólida e
					intuitiva para administrar contactos, puedes hacerlo mediante grupos o incluso enviandoles un email.
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Nuestras Redes</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">YouTube</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Tik Tok</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2023 Agendex Company
			<a class="grey-text text-lighten-4 right" href="#!">Mas Información</a>
		</div>
	</div>
</footer>

</html>