<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<title>Grupos</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<header th:replace="layout/navbar :: header"></header>
	<div th:replace="layout/sidenav :: sidenav"></div>

	<div class="container">
		<div class="row" style="margin-top: -4%">
			<h3 class="col s8"><i class="material-icons small green-text">local_florist</i> <span
					th:text="${titulo}"></span></h3>

			<!-- Crea el botón -->
			<a class="dropdown-trigger btn waves-effect waves-light  blue col s4 offset-s8" href="#"
				data-target="dropdown2" style="margin-top: -50px">Agregar Contacto</a>

			<!-- Crea la lista de opciones -->
			<ul id="dropdown2" class="dropdown-content">
				<li th:each="select : ${selects}" id="contacto-[[${select.id}]]">
					<form method="POST"
						th:action="@{/usuario/{idContacto}/contacto-grupo(idContacto=${select.id}, grupo=${titulo})}">
						<input type="hidden" th:name="idContacto" th:value="${idContacto}" />
						<button class="btn-flat waves-effect" type="submit">
							<p class="center blue-text" th:if="${contactos.isEmpty()}" disabled>Aún no hay registros</p>
							<a th:text="${select.nombre}"></a>
						</button>
					</form>
				</li>
			</ul>
		</div>

		<p class="center blue-text" th:if="${contactos.isEmpty()}">Aún no hay registros</p>
		<ul class="collection">
			<div th:each="contacto : ${contactos}" th:object="${contacto}">
				<li class="collection-item avatar">
					<img src="img/contactos.png" alt="" class="circle">
					<span class="title" th:text="*{nombre}"></span>
					<p th:text="*{telefono}"></p>
					<div class="secondary-content">
						<a data-target="modal" class="modal-trigger"><i
								class="material-icons green-text small">remove_red_eye</i></a>
						<div id="modal" class="modal">
							<div class="modal-content">
								<h3 th:text="*{nombre}"></h3>
							</div>
							<div class="modal-footer">
								<a hre="" class="btn modal-close">Cerrar</a>
							</div>
						</div>
						<a th:href="@{/usuario/{id}/editar(id=*{id})}"><i class="material-icons small">edit</i></a>
						<a onclick="eliminarContacto(this)"><i class="material-icons red-text small">delete</i></a>
						<form th:action="@{/usuario/{id}/eliminar(id=*{id})}" method="POST"></form>
					</div>
				</li>
			</div>
		</ul>
		<div th:replace="layout/paginacion :: paginacion"></div>
	</div>

	<footer th:replace="layout/footer :: footer"></footer>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>document.addEventListener('DOMContentLoaded', function () {
			var select = document.querySelectorAll('select');
			M.FormSelect.init(select, {});
		});</script>

	<script>
		$(document).ready(function () {
			$('.dropdown-trigger').dropdown();
		});


	</script>

</body>

</html>